;; Fixed by Ronn1nG from ZRAGE BRASIL

;; ----------------------------------
;; General stuff
;; ----------------------------------
modify:
{
	match:
	{
		"hammerid" "20057793"
	}
	delete:
	{
		"OnMapSpawn" "ConsoleCommandmp_roundtime 200.5-1"
		"OnMapSpawn" "playerAddOutputgravity 10-1"
		"OnMultiNewRound" "playerAddOutputgravity 10-1"
	}
}

remove:
{
	"targetname" "relay_sc"
}
remove:
{
	"targetname" "train_beta"
}
remove:
{
	"targetname" "track_beta1"
}
remove:
{
	"targetname" "track_beta2"
}
remove:
{
	"hammerid" "20814322"
}

;; ----------------------------------
;; Fix safe stage
;; ----------------------------------
remove:
{
	"targetname" "hurt_door_b"
}
remove:
{
	"targetname" "hurt_greathall"
}
remove:
{
	"targetname" "hurt_b_site"
}
remove:
{
	"targetname" "hurt_b_spot"
}
remove:
{
	"targetname" "hurt_boats_tunnel"
}
remove:
{
	"targetname" "hurt_boats_fail"
}
remove:
{
	"targetname" "hurt_boats_end"
}
remove:
{
	"targetname" "hurt_safeboss_fail"
}
remove:
{
	"targetname" "hurt_safeboss_fail_zm"
}
remove:
{
	"targetname" "trigger_safeboss_jail"
}
remove:
{
	"targetname" "nuke_jail_zm"
}
remove:
{
	"targetname" "hurt_blackroom1"
}
remove:
{
	"targetname" "hurt_blackroom1_zm"
}

modify:
{
	match:
	{
		"targetname" "tele_b_hole"
	}
	replace:
	{
		"target" "td_boats"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_boat_human"
	}
	replace:
	{
		"target" "td_safeboss"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_boat_zm"
	}
	replace:
	{
		"target" "td_safeboss_zm"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_safeboss_win"
	}
	replace:
	{
		"target" "td_safeboss_win"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_safeboss_jail"
	}
	replace:
	{
		"target" "td_safeboss_win"
	}
}

add:
{
	"classname" "game_zone_player"
	"targetname" "player_counter_safeboss"
	"model" "*730"
	"origin" "-12011 -4639 -1610"
	connections
	{
		"PlayersInCount" "player_math_counter_safebossSetValueNoFire0-1"
	}
}
add:
{
	"classname" "game_zone_player"
	"targetname" "player_counter_safeboss_zm"
	"model" "*721"
	"origin" "-11371 -4639 -1610"
	connections
	{
		"PlayersInCount" "players_compare_safeboss1_zmSetValueCompare0.03-1"
	}
}

modify:
{
	match:
	{
		"targetname" "relay_safebossend"
	}
	delete:
	{
		"OnTrigger" "safeboss_bridgeDisable0-1"
		"OnTrigger" "safeboss_bridge_zmDisable0-1"
	}
	insert:
	{
		"OnTrigger" "push_jihad_protectKill0-1"
		"OnTrigger" "player_counter_safebossKill0-1"
		"OnTrigger" "player_counter_safeboss_zmKill0-1"
	}
}
modify:
{
	match:
	{
		"targetname" "blade_count"
	}
	insert:
	{
		"OnHitMax" "player_counter_safebossCountPlayersInZone3.01-1"
		"OnHitMax" "player_math_counter_safebossEnable3-1"
		"OnHitMax" "player_math_counter_safebossGetValue3.2-1"
		"OnHitMax" "player_counter_safeboss_zmCountPlayersInZone3.01-1"
	}
}
modify:
{
	match:
	{
		"targetname" "player_math_counter_safeboss"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	insert:
	{
		"OnHitMin" "nuke_jailEnable5-1"
		"OnGetValue" "players_compare_safeboss2SetValue0-1"
		"OnGetValue" "players_compare_safeboss3SetValue0-1"
		"OnGetValue" "players_compare_safeboss1SetValue0-1"
		"OnGetValue" "players_compare_safeboss1Compare0.02-1"
		"OnGetValue" "players_compare_safeboss2Compare0.02-1"
		"OnGetValue" "players_compare_safeboss3Compare0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_safeboss1"
	}
	replace:
	{
		"InitialValue" "1"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_safeboss2"
	}
	replace:
	{
		"InitialValue" "2"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_safeboss3"
	}
	replace:
	{
		"InitialValue" "3"
	}
}

;; ----------------------------------
;; Fix retro stage
;; ----------------------------------
remove:
{
	"targetname" "trigger_retro_start"
}
remove:
{
	"targetname" "trigger_retro_door"
}
remove:
{
	"targetname" "hurt_slider_fail"
}
remove:
{
	"targetname" "trigger_slider_laser1"
}
remove:
{
	"targetname" "trigger_slider_end"
}
remove:
{
	"targetname" "trigger_retro_wall"
}
remove:
{
	"targetname" "hurt_retro_bomb"
}
remove:
{
	"targetname" "trigger_retroboss_end"
}
remove:
{
	"targetname" "trigger_retroboss_jail"
}
remove:
{
	"targetname" "hurt_retroboss_fail_zm"
}
remove:
{
	"targetname" "hurt_retroboss_fail"
}
remove:
{
	"targetname" "trigger_surf"
}
remove:
{
	"targetname" "push_surf"
}
remove:
{
	"targetname" "trigger_retro_lasthold"
}
remove:
{
	"targetname" "trigger_retro_winboost_end"
}
remove:
{
	"targetname" "trigger_hyperlight"
}
remove:
{
	"targetname" "trigger_hyperlight_zm"
}

modify:
{
	match:
	{
		"targetname" "tele_retro_sliderend"
	}
	replace:
	{
		"target" "td_retro_3"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retro_bomb"
	}
	replace:
	{
		"target" "td_retro_boss"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retro_bomb_zm"
	}
	replace:
	{
		"target" "td_retro_boss_zm"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retroboss_win"
	}
	replace:
	{
		"target" "td_retro_surf"
	}
	insert:
	{
		"OnStartTouch" "ConsoleCommandsv_airaccelerate 10001"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retroboss_jailzone"
	}
	replace:
	{
		"target" "td_retro_surf"
	}
}
modify:
{
	match:
	{
		"targetname" "temp_retroboss_beam_X3"
	}
	delete:
	{
		"Template14" "trigger_retroboss_int"
		"Template13" "trigger_retroboss"
	}
}

add:
{
	"classname" "game_zone_player"
	"targetname" "player_counter_retroboss"
	"model" "*636"
	"origin" "-2195 5623 2135"
	connections
	{
		"PlayersInCount" "player_math_counter_retrobossSetValueNoFire0-1"
		"PlayersInCount" "player_math_counter_retroboss_intSetValue0-1"
	}
}
add:
{
	"classname" "math_counter"
	"max" "70"
	"StartDisabled" "1"
	"startvalue" "0"
	"targetname" "player_math_counter_retroboss_int"
	"origin" "-1488 4971 2242"
	connections
	{
		"OnHitMin" "relay_retroboss_intTrigger0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "player_math_counter_retroboss"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	insert:
	{
		"OnHitMin" "nuke_jailEnable5-1"
		"OnGetValue" "players_compare_retroboss2SetValue0-1"
		"OnGetValue" "players_compare_retroboss3SetValue0-1"
		"OnGetValue" "players_compare_retroboss1SetValue0-1"
		"OnGetValue" "players_compare_retroboss1Compare0.02-1"
		"OnGetValue" "players_compare_retroboss2Compare0.02-1"
		"OnGetValue" "players_compare_retroboss3Compare0.02-1"
		"OnHitMin" "nuke_jailAddOutputorigin -2195 4523 34104-1"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_retroboss1"
	}
	replace:
	{
		"InitialValue" "1"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_retroboss2"
	}
	replace:
	{
		"InitialValue" "2"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_retroboss3"
	}
	replace:
	{
		"InitialValue" "3"
	}
}
modify:
{
	match:
	{
		"targetname" "trigger_retroboss_start"
	}
	insert:
	{
		"OnStartTouch" "player_math_counter_retrobossGetValue68.21"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone68.011"
		"OnStartTouch" "player_math_counter_retrobossEnable681"
		"OnStartTouch" "player_math_counter_retroboss_intEnable101"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone10.011"
		"OnStartTouch" "player_math_counter_retroboss_intDisable10.51"
		"OnStartTouch" "player_math_counter_retroboss_intSetValueNoFire010.71"
		"OnStartTouch" "player_math_counter_retrobossSetValueNoFire010.71"
		"OnStartTouch" "player_math_counter_retroboss_intEnable201"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone20.011"
		"OnStartTouch" "player_math_counter_retroboss_intDisable20.51"
		"OnStartTouch" "player_math_counter_retroboss_intSetValueNoFire020.71"
		"OnStartTouch" "player_math_counter_retrobossSetValueNoFire020.71"
		"OnStartTouch" "player_math_counter_retroboss_intEnable301"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone30.011"
		"OnStartTouch" "player_math_counter_retroboss_intDisable30.51"
		"OnStartTouch" "player_math_counter_retroboss_intSetValueNoFire030.71"
		"OnStartTouch" "player_math_counter_retrobossSetValueNoFire030.71"
		"OnStartTouch" "player_math_counter_retroboss_intEnable401"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone40.011"
		"OnStartTouch" "player_math_counter_retroboss_intDisable40.51"
		"OnStartTouch" "player_math_counter_retroboss_intSetValueNoFire040.71"
		"OnStartTouch" "player_math_counter_retrobossSetValueNoFire040.71"
		"OnStartTouch" "player_math_counter_retroboss_intEnable501"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone50.011"
		"OnStartTouch" "player_math_counter_retroboss_intDisable50.51"
		"OnStartTouch" "player_math_counter_retroboss_intSetValueNoFire050.71"
		"OnStartTouch" "player_math_counter_retrobossSetValueNoFire050.71"
		"OnStartTouch" "player_math_counter_retroboss_intEnable601"
		"OnStartTouch" "player_counter_retrobossCountPlayersInZone60.011"
		"OnStartTouch" "player_math_counter_retroboss_intDisable60.51"
		"OnStartTouch" "player_math_counter_retroboss_intSetValueNoFire060.71"
		"OnStartTouch" "player_math_counter_retrobossSetValueNoFire060.71"
	}
}
modify:
{
	match:
	{
		"targetname" "relay_retroboss_kill2"
	}
	insert:
	{
		"OnTrigger" "player_counter_retrobossKill0-1"
		"OnTrigger" "player_math_counter_retroboss_intKill0-1"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retro_surfend"
	}
	replace:
	{
		"target" "td_retro_surfend"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retrosurf_lasthold"
	}
	replace:
	{
		"target" "td_retro_winboost"
	}
}
modify:
{
	match:
	{
		"targetname" "tele_retrosurf_lasthold_zm"
	}
	replace:
	{
		"target" "td_retro_winboost_zm"
	}
}

;; ----------------------------------
;; Fix matrix stage
;; ----------------------------------
remove:
{
	"targetname" "trigger_matrix_blackroom"
}
remove:
{
	"targetname" "trigger_matrix_blackroom_zm"
}
remove:
{
	"targetname" "hurt_matrix_lobby"
}
remove:
{
	"targetname" "trigger_matrix_b_door"
}
remove:
{
	"targetname" "trigger_matrix_elevator"
}
remove:
{
	"targetname" "trigger_matrix_jump"
}
remove:
{
	"targetname" "trigger_matrixboss_end"
}
remove:
{
	"targetname" "trigger_winroom"
}
remove:
{
	"targetname" "nuke_matrixboss_jailzone"
}
remove:
{
	"targetname" "nuke_matrixboss_jailzone_zm"
}
remove:
{
	"targetname" "trigger_matrixboss_jail"
}
remove:
{
	"targetname" "trigger_matrixboss_end"
}

modify:
{
	match:
	{
		"targetname" "trigger_dialup"
	}
	insert:
	{
		"OnStartTouch" "skybox_matrixTrigger45.51"
		"OnStartTouch" "player_math_counter_matrixbossEnable1151"
		"OnStartTouch" "player_counter_matrixbossCountPlayersInZone115.011"
		"OnStartTouch" "player_math_counter_matrixbossGetValue115.21"
		"OnStartTouch" "player_math_counter_matrixboss_intEnable701"
		"OnStartTouch" "player_counter_matrixbossCountPlayersInZone70.011"
		"OnStartTouch" "player_math_counter_matrixboss_intSetValueNoFire070.71"
		"OnStartTouch" "player_math_counter_matrixbossSetValueNoFire070.71"
		"OnStartTouch" "player_math_counter_matrixboss_intDisable70.51"
		"OnStartTouch" "player_math_counter_matrixboss_intEnable601"
		"OnStartTouch" "player_counter_matrixbossCountPlayersInZone60.011"
		"OnStartTouch" "player_math_counter_matrixboss_intDisable60.51"
		"OnStartTouch" "player_math_counter_matrixboss_intSetValueNoFire060.71"
		"OnStartTouch" "player_math_counter_matrixbossSetValueNoFire060.71"
		"OnStartTouch" "player_math_counter_matrixboss_intEnable801"
		"OnStartTouch" "player_counter_matrixbossCountPlayersInZone80.011"
		"OnStartTouch" "player_math_counter_matrixboss_intDisable80.51"
		"OnStartTouch" "player_math_counter_matrixboss_intSetValueNoFire080.71"
		"OnStartTouch" "player_math_counter_matrixbossSetValueNoFire080.71"
		"OnStartTouch" "player_math_counter_matrixboss_intEnable901"
		"OnStartTouch" "player_counter_matrixbossCountPlayersInZone90.011"
		"OnStartTouch" "player_math_counter_matrixboss_intDisable90.51"
		"OnStartTouch" "player_math_counter_matrixboss_intSetValueNoFire090.71"
		"OnStartTouch" "player_math_counter_matrixbossSetValueNoFire090.71"
		"OnStartTouch" "player_math_counter_matrixboss_intEnable1001"
		"OnStartTouch" "player_counter_matrixbossCountPlayersInZone100.011"
		"OnStartTouch" "player_math_counter_matrixboss_intDisable100.51"
		"OnStartTouch" "player_math_counter_matrixboss_intSetValueNoFire0100.71"
		"OnStartTouch" "player_math_counter_matrixbossSetValueNoFire0100.71"

		"OnStartTouch" "round_endEndRound_CounterTerroristsWin51121"
	}
}

add:
{
	"classname" "game_zone_player"
	"targetname" "player_counter_matrixboss"
	"model" "*150"
	"origin" "3584 -4744 -3002"
	connections
	{
		"PlayersInCount" "player_math_counter_matrixbossSetValueNoFire0-1"
		"PlayersInCount" "player_math_counter_matrixboss_intSetValue0-1"
	}
}
add:
{
	"classname" "math_counter"
	"max" "70"
	"StartDisabled" "1"
	"startvalue" "0"
	"targetname" "player_math_counter_matrixboss_int"
	"origin" "4272 -4621 -2216"
	connections
	{
		"OnHitMin" "relay_matrixboss_intTrigger0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "player_math_counter_matrixboss"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	insert:
	{
		"OnHitMin" "nuke_jailEnable5-1"
		"OnGetValue" "players_compare_matrixboss2SetValue0-1"
		"OnGetValue" "players_compare_matrixboss3SetValue0-1"
		"OnGetValue" "players_compare_matrixboss1SetValue0-1"
		"OnGetValue" "players_compare_matrixboss1Compare0.02-1"
		"OnGetValue" "players_compare_matrixboss2Compare0.02-1"
		"OnGetValue" "players_compare_matrixboss3Compare0.02-1"
		"OnHitMin" "nuke_jailAddOutputorigin 3584 -5460 -26164-1"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_matrixboss1"
	}
	replace:
	{
		"InitialValue" "1"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_matrixboss2"
	}
	replace:
	{
		"InitialValue" "2"
	}
}
modify:
{
	match:
	{
		"targetname" "players_compare_matrixboss3"
	}
	replace:
	{
		"InitialValue" "3"
	}
}
//fix floor//
modify:
{
	match:
	{
		"targetname" "trigger_retro_bombtele"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "floor_retroboss_*setdamagefilterzombie_filter19.51"
	}
}

modify:
{
	match:
	{
		"targetname" "trigger_money_speed"
	}
	insert:
	{
		"OnStartTouch" "speedmodeModifySpeed0.10.25-1"
		"OnStartTouch" "speedmodeModifySpeed0.10.75-1"
		"OnStartTouch" "speedmodeModifySpeed0.11.25-1"
		"OnStartTouch" "speedmodeModifySpeed0.11.75-1"
		"OnStartTouch" "speedmodeModifySpeed0.12.25-1"
		"OnStartTouch" "speedmodeModifySpeed0.12.75-1"
		"OnStartTouch" "speedmodeModifySpeed0.13.25-1"
		"OnStartTouch" "speedmodeModifySpeed0.13.75-1"
		"OnStartTouch" "speedmodeModifySpeed0.14.25-1"
		"OnStartTouch" "speedmodeModifySpeed0.14.75-1"
		"OnStartTouch" "speedmodeModifySpeed0.15.25-1"
		"OnStartTouch" "speedmodeModifySpeed0.15.75-1"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}


add:
{
	"classname" "info_teleport_destination"
	"angles" "0 90 0"
	"targetname" "training_tp_dest"
	"origin" "6032 3808 -1827.32"
}

add:
{
	"classname" "game_round_end"
	"targetname" "round_end"
	"origin" "1000 1000 1000"
}

modify:
{
	match:
	{
		"targetname" "tele_spawn_human"
	}
	replace:
	{
		"target" "training_tp_dest"
		"StartDisabled" "0"
	}
}

modify:
{
	match:
	{
		"hammerid" "20057793"
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "desert_combatPlaySound2-1"
		"OnMapSpawn" "fade_tele_dustFade21-1"
		"OnMapSpawn" "ConsoleCommandsay *** TELEPORT IN 20 SECONDS ***2-1"
		"OnMapSpawn" "ConsoleCommandsay *** 10 SECONDS ***12-1"
	}
}